#AnchorPane2{
    -fx-background-color: rgba(230, 230, 230, 0.4);
}

.label .text{
    -fx-stroke: rgba(0,0,0,1);
    -fx-stroke-width: 1px;
}

#WelcomeLabel {
    -fx-background-color: rgba(230, 230, 230, 0.4);
}